/* COLORES */
/* FUNTES */
* {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(to top, lightgrey, white);
  text-align: center; }

/* Index */
.logo {
  grid-area: header;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 25%;
  padding: 30px; }

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1px;
  align-items: center; }
  nav ul li {
    margin: 1px;
    padding: 5px;
    list-style: none;
    font-family: "Montserrat", sans-serif; }
    nav ul li a {
      margin: 1px;
      padding: 10px;
      background-color: #F7B2AD;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      font-family: "Montserrat", sans-serif; }
      nav ul li a:hover {
        background-image: linear-gradient(lightcoral, white);
        transform: scale(1.1);
        transition: all .5s; }

.tituloTexto {
  padding: 5px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 10px salmon;
  color: grey;
  animation: zoomIn;
  animation-duration: 2s; }

.textoInicio {
  margin: 15px;
  padding: 15px;
  font-weight: bold;
  line-height: 1.5;
  font-style: italic;
  border: outset;
  background-color: lightpink;
  text-align: justify; }

.imgPrincipal {
  width: 800px;
  height: 400px; }

.textoFinal {
  padding: 15px;
  font-family: "Montserrat", sans-serif; }

footer {
  clear: both;
  display: inline;
  float: left;
  background: lightpink;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-family: "Montserrat", sans-serif; }
  footer p {
    color: #fff;
    font-size: 12px;
    text-align: center; }
    footer p a {
      color: #fff; }
      footer p a img {
        padding: 0 0 0 10px;
        width: auto;
        vertical-align: middle;
        text-align: center; }

@media screen and (max-width: 800px) {
  .imgPrincipal {
    width: 700px;
    height: 300px;
    padding: 15px; } }

/* Productos */
.titulo {
  grid-area: tituloProd;
  text-align: center;
  font-size: larger;
  background-color: lightpink; }

.tarjetas {
  display: flex;
  justify-content: center;
  background-image: url(../img/fondoRosa.webp);
  background-size: cover;
  background-attachment: fixed; }

.botonComprar {
  background-color: pink;
  border: solid salmon;
  color: #fff; }
  .botonComprar:hover {
    background-color: lightgrey;
    border: solid salmon; }
