/* COLORES */
/* FUNTES */
/* POSICION */
* {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(to top, darkgrey, white); }

/* Index */
.logo {
  width: 180px;
  height: 180px;
  margin: auto;
  border-radius: 25%;
  padding: 10px; }
  .logo:hover {
    box-shadow: 0 0 10px salmon;
    transition: all .5s; }

@media screen and (max-width: 991px) {
  .logo {
    width: 100px;
    height: 100px; } }

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1px; }
  nav ul li {
    margin: 1px;
    padding: 5px;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
    nav ul li a {
      margin: 1px;
      padding: 10px;
      background-color: lightpink;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      font-family: "Montserrat", sans-serif; }
      nav ul li a:hover {
        background-image: linear-gradient(lightpink, white);
        transform: scale(1.1);
        transition: all .5s; }

.tituloTexto {
  padding: 5px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 10px salmon;
  color: grey;
  animation: zoomIn;
  animation-duration: 2s;
  text-align: center; }

.textoInicio {
  margin: 15px;
  padding: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-style: italic;
  border-radius: 10px;
  background-color: palevioletred;
  text-align: center; }

.imgPrincipal {
  width: 800px;
  height: 400px;
  padding-bottom: 15px; }

.servicios .tarjeta:hover {
  transform: scale(1.1);
  transition: all .2s;
  opacity: 0.8;
  text-shadow: 0 0 10px salmon; }

.textoFinal {
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-shadow: 0 0 10px salmon; }

footer {
  clear: both;
  display: inline;
  float: left;
  background: palevioletred;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-family: "Montserrat", sans-serif; }
  footer a {
    color: #fff; }
    footer a img {
      padding: 10px;
      width: auto;
      vertical-align: middle;
      text-align: center; }

footer p {
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 15px; }

@media screen and (max-width: 800px) {
  .imgPrincipal {
    width: 700px;
    height: 300px;
    padding: 15px; } }

/* Productos */
.titulo {
  text-align: center;
  font-size: larger;
  background-color: palevioletred; }

.tarjetas {
  display: flex;
  justify-content: center;
  background-image: url(../img/fondoRosa.webp);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 20px; }

.botonComprar, .formulario .formularioContacto .btn {
  background-color: lightpink;
  border: solid salmon;
  color: #fff; }
  .botonComprar:hover, .formulario .formularioContacto .btn:hover {
    background-color: darkgrey;
    border: solid salmon; }

/* Tratamientos */
.trat1 {
  background-image: linear-gradient(to bottom, palevioletred, darkgrey);
  padding: 40px; }

.trat2 {
  background-image: linear-gradient(to bottom, darkgrey, palevioletred);
  padding: 40px; }

.trat3 {
  background-image: linear-gradient(to bottom, palevioletred, darkgrey);
  padding: 40px; }

.trat4 {
  background-image: linear-gradient(to bottom, darkgrey, palevioletred);
  padding: 40px; }

.trat5 {
  background-image: linear-gradient(to bottom, palevioletred, darkgrey);
  padding: 15px; }

.tratamientos .btn:hover {
  background-color: palevioletred;
  border: solid #fff; }

/* Sucursales */
.sucursales {
  background-image: url(../img/fondoSuc.webp);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 30px; }
  .sucursales .mapa {
    width: 70%;
    padding-bottom: 30px; }

/* Contacto */
.formulario {
  background-image: url(../img/fondoContacto.webp);
  background-size: cover;
  background-attachment: fixed;
  padding: 20px; }
  .formulario .formularioContacto {
    width: 50%; }
