* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    background-image: linear-gradient(to top, lightgrey, white);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
}

/* .gridContainer {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 2fr;
    grid-template-areas: "header"
        "nav"
        "titulo"
        "textoIzq"
        "img"
        "publicidad"
        "textoFinal"
        "footer";
} */

.logo {
    grid-area: header;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: auto;
    border-radius: 25%;
    display: flex;
    justify-items: center;
    align-content: center;
    padding: 30px;
}

.animate__backInDown {
    animation: backInDown;
    animation-duration: 2s;
}

nav ul {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1px;
    align-items: center;
}

nav li {
    grid-area: nav;
    margin: 1px;
    padding: 5px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

nav a {
    grid-area: nav;
    margin: 1px;
    padding: 10px;
    background-color: #F7B2AD;
    border-left: 0.5rem #f37dfb;
    border-right: 0.5rem #f37dfb;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
    grid-area: nav;
    background-image: linear-gradient(lightcoral, white);
    transform: scale(1.1);
    transition: all .5s;
}

.titulo {
    grid-area: titulo;
    padding: 15px;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 0 0 10px rgb(231, 86, 185);
    color: rgb(74, 73, 73);
    animation: zoomIn;
    animation-duration: 2s;
}

.textoIzq {
    grid-area: textoIzq;
    margin: 15px;
    padding: 15px;
    display: flex;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-style: italic;
    border: outset;
    background-color: rgb(250, 215, 229);
    flex-direction: row;
}

.imagenesInicio {
    grid-area: img;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.img1 {
    grid-area: img;
    height: 400px;
    padding: 20px;
}

.img2 {
    grid-area: img;
    height: 250px;
    border-radius: 25%;
    margin: 20px;
}

.publicidad {
    grid-area: publicidad;
}

.publicidadimg1 {
    width: 0;
    height: 0;
}

.publicidadimg2 {
    width: 500px;
    height: 70px;
    border: solid grey;
    margin: 5px;
    padding: 5px;
}

.textoFinal {
    grid-area: textoFinal;
    padding: 20px;
    display: flex;
    text-align: center;
}

.footer {
    grid-area: footer;
}

footer {
    clear: both;
    display: inline;
    float: left;
    background: lightpink;
    width: 100%;
    text-align: center;
    padding: 20px;
}

footer p {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

footer img {
    padding: 0 0 0 10px;
    width: auto;
    vertical-align: middle;
    text-align: center;
}

footer a:link,
footer a:active,
footer a:visited,
footer a:hover {
    color: #fff;
}

/* footer {
    margin: 5px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    border-top: dotted #f37dfb;
    font-size: small;
    color: #f37dfb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer ul {
    grid-area: footer;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer ul li a {
    grid-area: footer;
    color: gray;
    padding: 5px;
    margin: 5px;
    display: flex;
    text-align: center;

}

footer div {
    grid-area: footer;
    border-top: solid black;
    border-bottom: solid black;
    color: black;
} */

.mapa {
    height: 100px;
    width: 100px;
}

/* Vista tablet */
@media screen and (min-width:768px) {
    /* .gridContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, auto);
        grid-template-areas: "header header"
            "nav nav"
            "titulo titulo"
            "textoIzq img"
            "publicidad publicidad"
            "textoFinal textoFinal"
            "footer footer";
    } */

    header {
        grid-area: header;
    }

    .nav ul {
        grid-area: nav;
        margin: auto;
        padding: 20px;
        display: flex;
        flex-direction: row;
    }

    .titulo {
        grid-area: titulo;
    }

    .textoIzq {
        grid-area: textoIzq;
        font-weight: 300;
    }

    .imagenesInicio {
        grid-area: img;
        text-align: center;
    }

    .img1 {
        text-align: center;
    }

    .img2 {
        text-align: center;
    }


    .textoFinal {
        grid-area: textoFinal;
    }
}
/*     .footer {
        grid-area: footer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .footer ul {
        display: flex;
        flex-direction: column;
    }

    .footer li {
        display: flex;
        justify-content: space-around;
    }

    .mapa {
        border-radius: 10%;
    }
} */

@media screen and (min-width:1200px) {

    .gridContainer {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header nav nav"
            "titulo titulo titulo"
            "textoIzq img publicidad"
            "textoFinal textoFinal textoFinal"
            "footer footer footer";
    }

    header {
        grid-area: header;
    }

    .nav {
        grid-area: nav;
        margin: auto;
        padding: 20px;
    }

    .titulo {
        grid-area: titulo;
    }

    .textoIzq {
        grid-area: textoIzq;
    }

    .imagenesInicio {
        grid-area: img
    }


    .publicidadimg1 {
        grid-area: publicidad;
        width: 220px;
        height: 500px;
        margin: 15px;
        padding: 15px;
        display: grid;
        border: solid grey;
    }

    .publicidadimg2 {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .textoFinal {
        grid-area: textoFinal;
    }

    .footer {
        grid-area: footer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer ul {
        display: flex;
        flex-direction: column;
    }

    .footer li {
        display: flex;
        justify-content: space-around;
    }

    .mapa {
        border-radius: 10%;
    }
}

/* CONTACTO */
/* .gridContainerContacto {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 2fr;
    grid-template-areas: "header"
        "nav"
        "titulo"
        "tituloContacto"
        "formulario"
        "footer";
} */

.header .logo {
    grid-area: header;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: auto;
    border-radius: 25%;
    display: flex;
    justify-items: center;
    align-content: center;
    padding: 30px;
}

nav {
    grid-area: nav;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

nav li {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

.titulo {
    grid-area: titulo;
}

.tituloContacto {
    grid-area: tituloContacto;
    text-align: center;
    font-size: larger;
    background-color: lightpink;
}

.formulario {
    background-image: url(../img/fondoContacto.webp);
    background-size: cover;
    background-attachment: fixed;
}

.formularioContacto {
    grid-area: formulario;
    padding: 20px;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularioContacto li {
    grid-area: formulario;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.boton {
    padding: 5px;
    background-color: lightcoral;
    color: white;
    border-radius: 10%;
    width: 30%;
    height: 10%;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}

.boton:hover {
    background-color: lightslategray;
}

.footer {
    grid-area: footer;
}

/* footer div p {
    margin: 5px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    border-top: dotted #f37dfb;
    font-size: small;
    color: #f37dfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
} */

/* footer ul {
    grid-area: footer;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
}

footer ul li a {
    grid-area: footer;
    color: gray;
    padding: 5px;
    margin: 5px;
}

footer div {
    grid-area: footer;
    border-top: solid black;
    border-bottom: solid black;
    color: black;
} */

.mapa {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

/* Vista Tablet CONTACTO */
@media screen and (min-width:768px) {
    .gridContainerContacto {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "header header"
            "nav nav"
            "titulo titulo"
            "tituloContacto tituloContacto"
            "formulario formulario"
            "footer footer";
    }

    .tituloContacto {
        grid-area: tituloContacto;
        text-align: center;
    }

    .formularioContacto {
        grid-area: formulario;
        padding: 20px;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formularioContacto li {
        grid-area: formulario;
        list-style: none;
    }

}

/* Vista Desktop CONTACTO */
@media screen and (min-width:1200px) {

    .gridContainerContacto {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header nav nav"
            "titulo titulo titulo"
            "tituloContacto tituloContacto tituloContacto"
            "formulario formulario formulario"
            "footer footer footer";
    }

    header {
        grid-area: header;
    }

    .nav {
        grid-area: nav;
        margin: auto;
        padding: 20px;
    }

    .titulo {
        grid-area: titulo;
    }

    .tituloContacto {
        grid-area: tituloContacto;
        text-align: center;

    }

    .formularioContacto li {
        grid-area: formulario;
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .footer {
        grid-area: footer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer ul {
        display: flex;
        flex-direction: column;
    }

    .footer li {
        display: flex;
        justify-content: space-around;
    }

    .mapa {
        border-radius: 10%;
    }
}

/* PRODUCTOS */
/* First Mobile */
/* .gridContainerProd {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 2fr;
    grid-template-areas: "header"
        "nav"
        "titulo"
        "tituloProd"
        "productos"
        "footer";
}
 */
.tituloProd {
    grid-area: tituloProd;
    text-align: center;
    font-size: larger;
    background-color: lightpink;
}

.productos {
    grid-area: productos;
}

.productos ul {
    border: solid grey;
}

.tarjetas {
    display: flex;
    justify-content: center;
    background-image: url(../img/fondoRosa.webp);
    background-size: cover;
    background-attachment: fixed;
}

/* Vista tablet PRODUCTOS */
@media screen and (min-width:768px) {
    .gridContainerProd {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "header header"
            "nav nav"
            "titulo titulo"
            "tituloProd tituloProd"
            "productos productos"
            "footer footer";
    }

}

/* Vista Desktop PRODUCTOS */
@media screen and (min-width:1200px) {

    .gridContainerProd {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto 3fr auto;
        grid-template-areas: "header nav nav"
            "titulo titulo titulo"
            "tituloProd tituloProd tituloProd"
            " productos productos productos"
            "footer footer footer";
    }

}

/* SUCURSALES */
/* First Mobile */
/* .gridContainerSuc {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 2fr;
    grid-template-areas: "header"
        "nav"
        "titulo"
        "tituloSuc"
        "sucursales"
        "footer";
} */

.tituloSuc {
    grid-area: tituloSuc;
    text-align: center;
    font-size: larger;
    background-color: lightpink;
}

.sucursales {
    grid-area: sucursales;
    background-image: url(../img/fondoSuc.webp);
    background-size: cover;
    background-attachment: fixed;
}

.sucursales li {
    list-style: none;
}

/* Vista tablet SUCURSALES */
@media screen and (min-width:768px) {
    .gridContainerSuc {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "header header"
            "nav nav"
            "titulo titulo"
            "tituloSuc tituloSuc"
            "sucursales sucursales"
            "footer footer";
    }
}

/* Vista Desktop SUCURSALES */
@media screen and (min-width:1200px) {

    .gridContainerSuc {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header nav nav"
            "titulo titulo titulo"
            "tituloSuc tituloSuc tituloSuc"
            "sucursales sucursales sucursales"
            "footer footer footer";
    }
}

/* TRATAMIENTOS */
/* First Mobile */
/* .gridContainerTrat {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 2fr;
    grid-template-areas: "header"
        "nav"
        "titulo"
        "tituloTrat"
        "tratamientos"
        "footer";
} */

.tituloTrat {
    grid-area: tituloTrat;
    text-align: center;
    font-size: larger;
    background-color: lightpink;
}

.tratamientos {
    grid-area: tratamientos;
    font-size: large;
    padding: 20px;
}

.trat1 {
    background-image: linear-gradient(to bottom, pink, lightgrey);
}

.trat2 {
    background-image: linear-gradient(to bottom, lightgrey, pink);
}

.trat3 {
    background-image: linear-gradient(to bottom, pink, lightgrey);
}

.trat4 {
    background-image: linear-gradient(to bottom, lightgrey, pink);
}

.trat5 {
    background-image: linear-gradient(to bottom, pink, lightgrey);
}
/* Vista tablet TRATAMIENTOS */
@media screen and (min-width:768px) {
    .gridContainerTrat {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "header header"
            "nav nav"
            "titulo titulo"
            "tituloTrat tituloTrat"
            "tratamientos tratamientos"
            "footer footer";
    }
}

/* Vista Desktop TRATAMIENTOS */
@media screen and (min-width:1200px) {

    .gridContainerTrat {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "header nav nav"
            "titulo titulo titulo"
            "tituloTrat tituloTrat tituloTrat"
            "tratamientos tratamientos tratamientos"
            "footer footer footer";
    }
}

.botonComprar {
    background-color: pink;
    border: solid salmon;
}

.botonComprar:hover {
    background-color: lightgrey;

}

