/* COLORES */
$color-primario: lightgrey;
$color-secundario: lightpink;
$color-texto-primario: grey;
$color-texto-secundario: #fff;
$color-borde: salmon;
$color-boton: pink;

/* FUNTES */
$font-principal: 'Montserrat', sans-serif;

/* POSICION */
$posicion: (
    centro: center,
    izq: left,
    der: right,
)
