@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, lightgrey, white);
    text-align: map-get($posicion, centro);
}

/* Index */
.logo {
    @include sizes(200px, 200px);
    border-radius: 50%;
    margin: auto;
    border-radius: 25%;
    padding: 30px;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1px;
    align-items: map-get($posicion, centro);

    li {
        margin: 1px;
        padding: 5px;
        list-style: none;
        font-family: $font-principal;

        a {
            margin: 1px;
            padding: 10px;
            background-color: #F7B2AD;
            color: rgb(255, 255, 255);
            text-decoration: none;
            border-radius: 10px;
            font-family: $font-principal;

            &:hover {
                background-image: linear-gradient(lightcoral, white);
                transform: scale(1.1);
                transition: all .5s;

            }
        }
    }
}

.tituloTexto {
    padding: 5px;
    margin: 5px;
    font-family: $font-principal;
    text-shadow: 0 0 10px $color-borde;
    color: $color-texto-primario;
    animation: zoomIn;
    animation-duration: 2s;
}

.textoInicio {
    margin: 15px;
    padding: 15px;
    font-weight: bold;
    font-family: $font-principal;
    line-height: 1.5;
    font-style: italic;
    border: outset;
    background-color: $color-secundario;
    text-align: justify;
}

.imgPrincipal {
    @include sizes(800px, 400px);
}

.textoFinal {
    padding: 15px;
    font-family: $font-principal;
}

footer {
    clear: both;
    display: inline;
    float: map-get($posicion, izq);
    background: $color-secundario;
    width: 100%;
    text-align: map-get($posicion, centro);
    padding: 20px;
    font-family: $font-principal;

    p {
        color: $color-texto-secundario;
        font-size: 12px;
        text-align: map-get($posicion, centro);

        a {
            color: $color-texto-secundario;

            img {
                padding: 0 0 0 10px;
                width: auto;
                vertical-align: middle;
                text-align: map-get($posicion, centro);
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .imgPrincipal {
        @include sizes(700px, 300px);
        padding: 15px;
    }
}

/* Productos */

.titulo {
    text-align: map-get($posicion, centro);
    font-size: larger;
    background-color: $color-secundario;
}

.tarjetas {
    display: flex;
    justify-content: center;
    background-image: url(../img/fondoRosa.webp);
    background-size: cover;
    background-attachment: fixed;
}

.botonComprar {
    background-color: $color-boton;
    border: solid $color-borde;
    color: $color-texto-secundario;

    &:hover {
        background-color: $color-primario;
        border: solid $color-borde;
    }
}

/* Tratamientos */

.trat1 {
    background-image: linear-gradient(to bottom, $color-secundario, $color-primario);
    padding: 40px;
}

.trat2 {
    background-image: linear-gradient(to bottom, $color-primario, $color-secundario);
    padding: 40px;
}

.trat3 {
    background-image: linear-gradient(to bottom, $color-secundario, $color-primario);
    padding: 40px;
}

.trat4 {
    background-image: linear-gradient(to bottom, $color-primario, $color-secundario);
    padding: 40px;
}

.trat5 {
    background-image: linear-gradient(to bottom, $color-secundario, $color-primario);
    padding: 15px;
}

/* Sucursales */

.sucursales {
    background-image: url(../img/fondoSuc.webp);
    background-size: cover;
    background-attachment: fixed;
}

/* Contacto */

.formulario {
    background-image: url(../img/fondoContacto.webp);
    background-size: cover;
    background-attachment: fixed;

    .formularioContacto {
        padding: 20px;
        width: 100%;
        max-width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 10px;

            .boton {
                @extend .botonComprar;
                @include sizes (90px, 30px);
            }
        }
    }

}