@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, $color-primario, white);
}

/* Index */
.logo {
    @include sizes(180px, 180px);
    margin: auto;
    border-radius: 25%;
    padding: 10px;

    &:hover {
        box-shadow: 0 0 10px $color-borde;
        transition: all .5s;
    }
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1px;

    li {
        margin: 1px;
        padding: 5px;
        list-style: none;
        font-family: $font-principal;
        text-align: map-get($posicion, centro);

        a {
            margin: 1px;
            padding: 10px;
            background-color: $color-boton;
            color: rgb(255, 255, 255);
            text-decoration: none;
            border-radius: 10px;
            font-family: $font-principal;

            &:hover {
                background-image: linear-gradient(magenta, white);
                transform: scale(1.1);
                transition: all .5s;

            }
        }
    }
}


.tituloTexto {
    padding: 5px;
    margin: 5px;
    font-family: $font-principal;
    text-shadow: 0 0 10px $color-borde;
    color: $color-texto-primario;
    animation: zoomIn;
    animation-duration: 2s;
    text-align: map-get($posicion, centro);
}

.textoInicio {
    margin: 15px;
    padding: 15px;
    font-weight: bold;
    font-family: $font-principal;
    line-height: 1.5;
    font-style: italic;
    border-radius: 10px;
    background-color: $color-secundario;
    text-align: map-get($posicion, centro);
}

.imgPrincipal {
    @include sizes(800px, 400px);
    padding-bottom: 15px;
}

.servicios .tarjeta:hover {
    transform: scale(1.1);
    transition: all .5s;
    opacity: 0.8;
    text-shadow: 0 0 10px $color-borde;
}

.textoFinal {
    padding: 30px;
    font-family: $font-principal;
    text-align: map-get($posicion, centro);
    text-shadow: 0 0 10px $color-borde;
}

footer {
    clear: both;
    display: inline;
    float: map-get($posicion, izq);
    background: $color-secundario;
    width: 100%;
    text-align: map-get($posicion, centro);
    padding: 5px;
    font-family: $font-principal;

    a {
        color: $color-texto-secundario;

        img {
            padding: 10px;
            width: auto;
            vertical-align: middle;
            text-align: map-get($posicion, centro);

        }
    }
}

footer {
    p {
        color: $color-texto-secundario;
        font-size: 12px;
        text-align: map-get($posicion, centro);
        padding-top: 15px;

    }
}

@media screen and (max-width: 800px) {
    .imgPrincipal {
        @include sizes(700px, 300px);
        padding: 15px;
    }
}

/* Productos */

.titulo {
    text-align: map-get($posicion, centro);
    font-size: larger;
    background-color: $color-secundario;
}

.tarjetas {
    display: flex;
    justify-content: center;
    background-image: url(../img/fondoRosa.webp);
    background-size: cover;
    background-attachment: fixed;
    text-align: map-get($posicion, centro);
}

.botonComprar {
    background-color: $color-boton;
    border: solid $color-borde;
    color: $color-texto-secundario;

    &:hover {
        background-color: $color-primario;
        border: solid $color-borde;
    }
}

/* Tratamientos */

.trat1 {
    background-image: linear-gradient(to bottom, $color-secundario, $color-primario);
    padding: 40px;
}

.trat2 {
    background-image: linear-gradient(to bottom, $color-primario, $color-secundario);
    padding: 40px;
}

.trat3 {
    background-image: linear-gradient(to bottom, $color-secundario, $color-primario);
    padding: 40px;
}

.trat4 {
    background-image: linear-gradient(to bottom, $color-primario, $color-secundario);
    padding: 40px;
}

.trat5 {
    background-image: linear-gradient(to bottom, $color-secundario, $color-primario);
    padding: 15px;
}

.tratamientos {
    .btn {
        &:hover {
            background-color: $color-secundario;
            border: solid $color-texto-secundario;
        }
    }
}

/* Sucursales */

.sucursales {
    background-image: url(../img/fondoSuc.webp);
    background-size: cover;
    background-attachment: fixed;
    text-align: map-get($posicion, centro);
    padding: 30px;

    .mapa {
        width: 70%;
        padding-bottom: 30px;
    }
}

/* Contacto */

.formulario {
    background-image: url(../img/fondoContacto.webp);
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;

    .formularioContacto {
        width: 50%;

        .btn {
            @extend .botonComprar;
        }
    }
}